cached-property
coverage
celery>=4.3,<4.4
django>=2.1,<2.2
djangorestframework
django-filter
django-pyodbc
django-pyodbc-azure
django-rest-framework-rules
django-test-without-migrations
graphene-django
graphene-django-optimizer
markdown
nepalicalendar
numpy
pyodbc
python-dateutil
python-dotenv
rules
whitenoise
reportbro-lib