cached-property
django>=2.1,<2.2
djangorestframework
djangorestframework-guardian
django-filter
django-guardian
django-pyodbc
django-pyodbc-azure
markdown
nepalicalendar
pyodbc
python-dateutil
python-dotenv