cached-property
coverage
celery>=4.3,<4.4
django==2.2.13
djangorestframework<3.11
django-filter
django-jsonfallback
django-pyodbc
django-pyodbc-azure
django-rest-framework-rules
django-test-without-migrations
graphene-django==2.6.0
graphene-django-optimizer
markdown
nepalicalendar
numpy
pandas==1.0.1
pyodbc
python-dateutil
python-dotenv
psycopg2
reportbro-lib
rules
waitress
wheel
whitenoise
django-health-check